.form-container {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    gap: 14px
}

.form-container__header {
    display: flex;
    justify-content: space-between;
}

.form-container__cancel-button {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #093FB4;
    color: white;
    border-radius: 10px;
    border: 0px;
    gap:10px
}

.form-container__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container__group {
    display: flex;
}

.form-container__label {
    flex: 1 0 100px;
}

.form-container__input {
    flex: 5 0 100px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 2px;
}

.form-container__input:focus {
    outline: 1px solid #093FB4;
}

.form-container__errors {
    color: red;
}

.form-container__submit-button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #093FB4;
    color: white;
    border-radius: 10px;
    border: 0px;
    gap:10px
}